{% extends "skeleton/_base.html" %}
{% hyde
    title: "About"
%}

{% block content %}
    <img src="/media/images/self.png" class="self right" />

    <div id="leaf-title"><h1>{{ page.title|safe|typogrify }}</h1></div>
    
    <div id="leaf-content">
        {% filter typogrify %}
            {% markdown %}
I'm **Yuri**. I'm from **Moscow, Russia**.  
I do a lot of different things.

If you want to get in touch with me you can [email
me](mailto:yuri@lessselling.com) or find me on [Twitter][].

[Twitter]: http://twitter.com/lessselling/

            {% endmarkdown %}
        {% endfilter %}
    </div>
{% endblock %}
